.feed{
    border: solid;
}

.feed-box{
    border: solid;
}

.like-box-button{
    height: 50px;
    width: 50px;
    margin: 0;
    padding: 0;
}

.buttons{
    border: solid;
}

.comment-form{
    border:solid;
}